@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #333;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 0px;
    background: #F0FFFF;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: #000;
}
.sidebarMenuInner li a{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#profile-img{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom:30px;
}

#text-profile-name{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
}
#text-profile-bio{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#text-profile-company{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
}

#side-bar{
    margin-top: 30px;

}
hr.rounded {
    border-top: 1px solid #333;
}

#side-bar-ul{
    overflow-y: auto; 
    height:60%;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 215px;
	background: ;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#side-bar-ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#side-bar-ul::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#side-bar-ul::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}